* {
    box-sizing: border-box;
}


body {
  text-align: center;
  background-color: grey;
}


.top {
  position: fixed;
}


.bottom {
  height: 500px;
  overflow: scroll;
}


#container {
  display: flex;
}


#sideBar {
	width: 65%;
	background-color: #d5d5d5;
	height: 100vmin;
	position: fixed;
	top: 0px;
	right: 0px;
}

#sideBar h2 {
	font-size: 30px;
	font-weight: 800;
	color: #151b54;
}


#main {
	width: 34%;
	background-color: #96858f;
	height: 100vmin;
	top: 0px;
	left: 0px;
}


h1 {
	font-family: Monoton;
	font-size: 35px;
	margin: auto;
	color: white;
}


h2 {
	margin: 1em 0 0.25em;
	color: white;
}


h2:first-of-type {
	margin-top: 0.5em;
}

.gallery{
	margin-top: 20px;
	width: 50%;
	color: green;
}

.list {
	width: 50%;
}


table,
tr,
td {
	border: 1px solid black;
}


table {
	border-collapse: collapse;
	margin: 0 auto;
}


tr {
	height: 20px;
}

.size-selector {
	display: flex;
	padding: 10px;
	font-weight: bold;
	justify-content: center;
}


.input-field {
	margin: 0 5px 0 0;
}

td {
	width: 20px;
}

@media screen and (max-width: 400px) {
	td {
		width: 10px;
	}

	tr {
		height: 10px;
	}

	.list {
		width: 100%;
	}

	h1 {
		font-size: 30px;
	}

	#inputHeight,
	#inputWeight {
		width: 70%;
	}

}


input[type=number] {
	width: 10em;
}

input[type=submit] {
	width: 10em;
	background-color: lavenderblush;
	padding: 7px;
}

input {
	border-radius: 4px;
}


ul li {
	font-size: 20px;
	text-align: left;
	text-transform: capitalize;
	list-style: none;
	border: 1px solid grey;
	color: #fff;
	font-weight: 500;
	width: 388px;
	height: 50px;
	display: flex;
	align-items: center;
	padding-left: 25px;
}


li:hover {
	background-color: black;
	color: #fff;
	cursor: pointer;
}


input:hover {
	border: 1px solid black;
	padding: 7px;
}


#submit:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}


.box:hover {
	border: 2px solid black;
}


@media screen and  (max-width: 400px) {
	.box:hover {
			border: none;
	}
}


.well {
	width: 100%;
	background-color: lime;
	margin: 10px;
	display: flex;
	
}


#download {
	width: 20%;
	margin-right: 3px;
	background-color: #151b54;
	color: #fff;
}


#remove {
	background-color: crimson;
}


a {
	border: 1px solid black;
	border-radius: 4px;
	padding: 5px;
	cursor: pointer;
}


#buttonField {
	margin-top: 10px;
}
